<!doctype html>
{% load static %}
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}"> 
    <title>PRQY</title>

  </head>
  <body>
    <section class="header">
      <div class="container">
        <div class="row">
          <div class="logo d-flex justify-content-center">
            <a href="{% url 'index' %}"><img src="{% static 'cap.svg' %}"></a>  
          </div>
        </div>
      </div>
    </section>
    <section class="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center spec">
            <nav>    
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a href="{% url 'index' %}"><button type="button" class="btn btn-outline-dark">Главная</button></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'about' %}"><button type="button" class="btn btn-outline-dark">Информация</button></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'reviews' %}"><button type="button" class="btn btn-outline-dark">Отзывы</button></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'question' %}"><button type="button" class="btn btn-outline-dark">Оставить вопрос</button></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
    {% block content %}

    {% endblock  %}




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html> 