{% extends 'wrapper.html' %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
	<form class="feedback_box" method='POST' action="{% url 'answer_out' %}">
    	{% csrf_token %}
    	<div class="col-12">
      		<h3 class="text-center">Ответы</h3>
    	</div>
    	<div class="form-group col-12">
      		<label for="exampleFormControlTextarea1">Текст</label>
      		<textarea class="form-control" name="full_text" id="exampleFormControlTextarea1" rows="3"></textarea>
    	</div>
    	<div class="col-12 d-flex justify-content-center">
      		<button type="submit" class=" buttons btn btn-outline-dark">Отправить</button>
    	</div>
	</form>
	</div>
</div>

{% endblock  %}